# ------------------------------------------------------------------------------
# Directorios de trabajo
# ------------------------------------------------------------------------------
dir:  
  base: ${base}/Copulas/
  run: ${base}/Copulas/run/
  lib: ${base}/Copulas/lib/R/
  data: ${base}/Copulas/data/
  # ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Cantidad maxima de procesos paralelos
# ------------------------------------------------------------------------------
max.procesos: 8
# ------------------------------------------------------------------------------